* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #111827, #312e81);

    color: white;
}

.container {
    width: 90%;
    max-width: 700px;

    padding: 40px;

    background-color: #1f2937;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

h1 {
    margin-bottom: 30px;

    color: #a5b4fc;

    font-size: 36px;
}

#pergunta {
    margin-bottom: 30px;

    font-size: 24px;

    line-height: 1.5;
}

#alternativas {
    display: flex;

    flex-direction: column;

    gap: 15px;
}

.botao-alternativa {
    width: 100%;

    padding: 15px 20px;

    border: none;

    border-radius: 10px;

    background-color: #6366f1;

    color: white;

    font-size: 17px;

    cursor: pointer;

    transition: 0.2s;
}

.botao-alternativa:hover {
    background-color: #818cf8;

    transform: scale(1.02);
}

#resultado {
    margin-top: 25px;

    font-size: 22px;

    font-weight: bold;

    color: #facc15;
}
